@{
    ViewData["title"] = "Kontakt";
}

<section>
    <div class="col-12">
        <header class="text-center mb-4">
            <h1>Znajdziesz nas tutaj<i class="icon-down-hand"></i></h1>
        </header>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2507.2395288494567!2d19.441856616305902!3d51.06712825061807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4717555fa075af7b%3A0x3b0b2f254071c6f2!2splac%203%20Maja%2C%2097-500%20Radomsko!5e0!3m2!1spl!2spl!4v1640969311524!5m2!1spl!2spl" style="border:0; width: 100%; height: 450px;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</section>
<hr class="hr-my">
<section>
    <div class="col-12">
        <header class="text-center mb-4">
            <h1>Kontakt<i class="icon-down-hand"></i></h1>
        </header>
        <ul class="fs-4 text-start">
            <li>Numer telefonu: 664-747-532</li>
            <li>E-mail: pizza_z_wasem@gmail.com</li>
        </ul>
    </div>
</section> 